.search-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
}

.search-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.form-group input[type="range"] {
    width: 150px;
}

.search-button {
    background-color: #00bfa5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.search-button:hover {
    background-color: #008c7a;
}

.country-list{
  background:#dbe0df;
  width: 200px;
  position: absolute;
  height: 100px;
  margin-top: 73px;
  overflow: hidden;
  overflow-y: scroll;
}

.country-list li {
  list-style: none;
  margin-left: -25px;
}
.country-list li:hover {
  background: #cdcaca;
}

.searchbtn{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 3px;
}

